

@font-face {
  font-family: nurom_bold;
  src: url('../../assets/nurom_bold.ttf');
}
@font-face {
  font-family: inter_light;
  src: url('../../assets/Inter-Light-BETA.otf');
}
@font-face {
  font-family: inter_bold;
  src: url('../../assets/Inter-Bold.otf');
}
.main{
  background-color: #e3e2e2;
}
.full-page {
  max-width: 768px;
  height: 100%;
  background-color: white;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 0 10px 2px #cdcdcd;
  font-family: inter_light;
}
header{
  padding: 60px 0;
  @media (max-width: 480px) {
    padding: 45px 0;
  }
}
header  #img_header{
  width:240px;
  @media (max-width: 480px) {
    width: 170px;
  }
}
.img_top {
  background-image: url('../../assets/gamme_booster.png');
  background-size: cover;
  height: 435px;
  background-position: center;
  position: relative;
  @media (max-width: 480px) {
    height: 210px;
  }
}
.img_top_booster{
  img{
    height: 320px;
    position: absolute;
    left: 218px;
    top: 136px;
    @media (max-width: 768px) {
      position: initial;
      margin: 135px auto;
    }
    @media (max-width: 480px) {
      position: initial;
      height: 162px;
      margin: 62px auto 0;
    }

  }
}
.img_top_brume{
  background-image: url('../../assets/gamme_brume.png');
  box-shadow: 0 0 10px 2px #cdcdcd;
  img{
    position: absolute;
    height: 512px;
    top: -28px;
    left: 125px;
    @media (max-width: 768px) {
      position: initial;
      margin: -28px auto;
    }
    @media (max-width: 480px) {
      position: initial;
      height: 250px;
      margin: -20px auto 0;
    }
    &.img_huile{
      height: 435px;
      top: -12px;
      left: 171px;
      @media (max-width: 768px) {
        position: initial;
        margin: 3px auto;
      }
      @media (max-width: 480px) {
      position: initial;
      height: 210px;
      margin: 0px auto ;
    }
    }
    &.img_gel{
      height: 550px;
      top: -54px;
      left: 105px;
      @media (max-width: 768px) {
        position: initial;
        margin: -50px auto;
      }
      @media (max-width: 480px) {
        height: 270px;
        margin: -25px auto 0;
      }
    }
  }
}
.img_top_echantillon{
  background-image: url('../../assets/slider_echantillon.png');
  img{
    height: 440px;
    @media (max-width: 480px) {
      height: 225px;
      margin-top: -8px;
    }
  }
}
#img_product{
  text-decoration: none;
  position: absolute;
  right: 100px;
  padding: 25px;
  bottom: 60px;
  font-size: 18px;
  color: white;
  letter-spacing: 0.1px;
}
.big_title{
  margin-top: 20px;
  font-size: 84px;
  font-family: nurom_bold;
  font-weight: 600;
}
.title{
  font-size: 45px;
  font-family: inter-bold;
  font-weight: 600;
  max-width: 80%;
  margin: 0 auto;
  text-transform: uppercase;
  @media (max-width: 480px) {
    max-width: 100%;
  }
}
#img_rect{
  width: 80%;
  height: 20px;
}
.title2{
  margin: 40px auto 0;
  max-width: 370px;
  font-size: 42px;
}
.content_sec1, .content_hide, .content_sec{
  padding: 30px 70px;
  font-size: 20px;
  @media (max-width: 480px) {
    padding: 30px 12px;
    font-size: 16px;
  }
}

.product_sec2{
  margin-top: 30px;
}
#blacklist , .detail{
  font-family: inter-bold;
  text-decoration: underline;
  font-size: 24px;
  color:black;
  margin-bottom: 5px;
  font-weight: bold;
  @media (max-width: 480px) {
    font-size: 22px;
  }
}
.title3{
  max-width: 70%;
  margin: 40px auto;
  font-size: 42px;
  @media (max-width: 480px) {
    max-width: 82%;
    font-size: 35px;
  }
}
.arrow {
  transform: rotate(270deg);
  height: 32px;
  padding-left: 3px;
}
.detail{
  display: flex;
  justify-content: center;
}
.img_center {
  background-image: url('../../assets/img_center_booster.png');
  background-size: cover;
  height: 435px;
  background-position: center;
  @media (max-width: 480px) {
    height: 220px;
  }
}
.img_center_brume {
  background-image: url('../../assets/img_center_brume.png');
}
.img_center_echantillon {
  background-image: url('../../assets/img_center_echantillon.png');
}
.product_sec3{
  background-color: #F7F2EC;
  padding: 30px 40px;
  margin-top: 30px;
  @media (max-width: 480px) {
   padding: 0;
   padding-top: 40px;
  }
}
.title4{
  font-size: 36px;
  @media (max-width: 480px) {
    font-size: 27px;
    max-width: 94%;
  }
}
.temoignage{
  border-bottom: black 2px solid;
  border-top: black 2px solid;
  width:85%;
  margin: 30px auto;
  padding: 30px;
}
.temoignage img{
  width: 70px;}

.content_temoignage{
  padding: 40px 75px;
  @media (max-width: 480px) {
    padding: 15px;
  }
}
#img_footer{
  height: 90px;
  margin-top: 30px;
}
.title_soin{
  max-width: 50%;
  @media (max-width: 480px) {
    max-width: 75%;
  }
}
.main .products {
  width: 95%;
  margin: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  justify-content: flex-start;
  overflow: auto;
}

.main .products .product-container {
  margin-right: 16px;
  width: 250px;
  background: #F0F0EF;
  box-shadow: 0 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
}
.main .img_product{
  margin-top: 30px;
  width: 75px;
  &.img_product_brume{
    width:180px
  }
}
.main .product_name a{
   color: black !important;
}
.main .product_name {
  font-family: Inter-Bold, sans-serif;
  font-size: 24px;
  font-style: italic;
  margin-top: 30px;
  text-decoration: underline;
  text-transform: lowercase;
}
.main .product_name:first-letter {
  text-transform: uppercase;
}
