<div class="main">
  <div class="full-page" *ngIf="myProduct">
    <header>
      <img id="img_header" src="assets/abbi.png"/>
    </header>
    <div class="img_top_booster" *ngIf="myProduct.range === 'BOOSTER'" [ngStyle]="{background: 'url(/assets/images_booster/slider-' + myProduct.page_id + '.jpg)'}"></div>
    <ng-container *ngIf="myProduct.range !== 'BOOSTER'">
    <div class="img_top" [ngClass]="{'img_top_brume': myProduct.range === 'PRET_VENTE', 'img_top_echantillon': myProduct.range === 'ECHANTILLON'}">
      <img [src]="'https://marketplace.abbi.care/images/' + myProduct.image" *ngIf="myProduct.page_id !== '95'" alt="product" [ngClass]="{'img_huile': myProduct.page_id === '94', 'img_gel': myProduct.page_id === '96'}">
    </div>
      <div class="big_title">{{myProduct.sous_titre}}</div>
      <div class="title">
        <span>{{myProduct.name}}
          <!--          <img id="img_rect" src="assets/rectangle1.png" *ngIf="myProduct.range === 'BOOSTER'">-->
        </span></div>
    </ng-container>
    <div class="product_sec1">
    <ng-container *ngIf="myProduct.range === 'BOOSTER' || myProduct.range === 'ECHANTILLON'">
     <div class="title title2" *ngIf="myProduct.range === 'ECHANTILLON'">INCI</div>
     <div class="title title2" *ngIf="myProduct.range === 'BOOSTER'">Ingrédients</div>
      <div class="content_sec1">{{myProduct.ingredients}} <br><br>
        ABBI a des convictions : nos formules ne contiennent aucun ingrédient polémique.
      </div>
      <a href="https://abbi.care/blacklist/" id="blacklist" >Retrouvez notre blacklist ici</a>
      <div class="title title3">CONSEILS D’UTILISATION</div>
      <div class="detail" *ngIf="myProduct.range === 'BOOSTER'" (click)="isShowAdvice = !isShowAdvice"><div>Voir </div><div><img class="arrow" src="assets/arrow.png"></div></div>
      <div class="advice content_hide" *ngIf="isShowAdvice || (!isShowAdvice && myProduct.range === 'ECHANTILLON')">
        {{myProduct.conseils_utilisation}}</div>
    </ng-container>
    <ng-container *ngIf="myProduct.range === 'PRET_VENTE'">
      <div class="title title2">CONSEILS D’UTILISATION</div>
      <div class="content_sec1">{{myProduct.conseils_utilisation}} </div>
  </ng-container>
   </div>
    <div class="product_sec2">
      <div class="img_center" [ngClass]="{'img_center_brume': myProduct.range === 'PRET_VENTE','img_center_echantillon': myProduct.range === 'ECHANTILLON'}"></div>
      <ng-container *ngIf="myProduct.range === 'BOOSTER'">
        <div class="title title3">PROPRIÉTÉS</div>
        <div class="detail" (click)="isShowVertus = !isShowVertus"><div>Voir </div><div><img class="arrow" src="assets/arrow.png"></div></div>
        <div class="vertus1 content_hide" *ngIf="isShowVertus" [innerHTML]="myProduct.vertus"></div>
      </ng-container>
      <ng-container *ngIf="myProduct.range === 'PRET_VENTE'">
        <div class="title title3">Ingrédients</div>
        <div class="detail" (click)="isShowVertus = !isShowVertus"><div>Voir </div><div><img class="arrow" src="assets/arrow.png"></div></div>
        <div class="vertus content_hide" *ngIf="isShowVertus">{{myProduct.ingredients}}<br><br>
          </div>
          <div class="content_sec1">
          ABBI a des convictions : nos formules ne contiennent aucun ingrédient polémique.
        </div>
        <a href="https://abbi.care/blacklist/" id="blacklist" >Retrouvez notre blacklist ici</a>
      </ng-container>
    </div>
    <div class="product_sec3">
      <div class="title title4">
        PLUS DE 98% DE NOS CLIENTS
        RECOMMANDE LES SOINS ABBI*
      </div>
      <div class="content_sec">
       <span> *Résultats d’une enquête auprès de nos clients.</span>
      <div class="temoignage">
        <div [innerHTML]="myProduct.temoignage_date"></div>
        <img src="assets/stars_yellow.png">
        <div class="content_temoignage">{{myProduct.temoignage}}</div>
      </div>
    </div>
    </div>
    <div class="products_sec3">
      <div class="title title3" *ngIf="myProduct.range === 'BOOSTER'">Tous nos boosters</div>
      <div class="title title3 title_soin" *ngIf="myProduct.range !== 'BOOSTER'">voir nos autres soins</div>
    <div class="products" [ngClass]="{'noSlider': allProductsByRange.length < 3}">
      <ng-container *ngFor="let product of allProductsByRange" >
       <div class="product normal">
              <div class="product-container" [ngClass]="{'sliders_booster': myProduct.range === 'BOOSTER'}">
                <img [src]="'/assets/images_booster/ca-' + product.page_id + '.png/'" class="img_product" *ngIf="myProduct.range === 'BOOSTER'">
                <img [src]="'https://marketplace.abbi.care/images/' + product.image" class="img_product img_product_brume"  *ngIf="myProduct.range === 'PRET_VENTE'">
                <img [src]="'https://marketplace.abbi.care/images/' + product.image" class="img_product" *ngIf="myProduct.range === 'ECHANTILLON'">
                <div class="product_name" ><a [href]="'/product/' + product.page_id">{{product.titre}}</a></div>
              </div>
       </div>
      </ng-container>
  </div>
  </div>
    <footer>
      <img id="img_footer" src="assets/bb.png"/>
    </footer>
  </div>
</div>

