<div class="full-page">
  <header>
    <img id="img_header" src="assets/abbi.png"/>
  </header>
  <div class="img_top">
    <img id="img_product" alt="product">
  </div>
  <div class="product_sec1">
    <div class="big_title">01</div>
    <div class="title">hydratation intense</div>
    <img id="img_rect" src="assets/rectangle1.png"/>
    <div class="title title2">INCI</div>
    <div class="content_sec1">
      Water/Aqua, Alcohol Denat., Xylitylglucoside, Anhydroxylitol, Xylitol, Glycerin, Glucose, Helichrysum Stoechas Callus Culture Lysate, Acacia Senegal Gum, Xanthan Gum, Sodium Benzoate, Potassium Sorbate.
      <br><br>
      ABBI a des convictions : nos formules ne contiennent aucun ingredient polémique.
    </div>
    <a href="https://abbi.care/blacklist/" id="blacklist" >Retrouvez notre blacklist ici</a>
    <div class="title title3">CONSEILS D’UTILISATION</div>

  </div>
</div>
